@{
    ViewData["French Hawes Beer Reviews"] = "French Hawes Beer Reviews";
}

<header class="text-center showcase">
    <div class="showcase-top">
        <h2>Drink Good Beer With Good Friends</h2>
        <h2></h2>
    </div>
    <div class="showcase-content">
        
    </div>
</header>
