@{
    ViewData["French Hawes Beer Reviews"] = "French Hawes Beer Reviews";
}


    <div class="showcase text-center">
        <div class="showcase-content">
            <h2>Drink Good Beer With Good Friends</h2>
        </div>
   
    </div>
    

